@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "@/assets/scss/index.scss";

body{
    height: 20%;
	line-height: 1.5;
	font-family: 'Josefin Sans', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.sec{
	max-width: 1300px;
    height:60px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: $main-color;
    padding: 70px 0;
}
.footer-col{
   width: 15%;
   padding: 0 15px;
   
}
.footer-col h4{
	font-size: 20px;
	color: #000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
	text-decoration: none;
}
/*
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
	text-decoration: none;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #00fff2;
	text-decoration: none;
	font-weight: 300;
	color: #fd0000;
	display: block;
	transition: all 0.3s ease;
}
*/

.footer-col h4:hover{
	color: #ffffff;
	padding-left: 0px;
	text-decoration: none;
}

a{
	text-decoration: none;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.466);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
