@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$main-color: #f3ef00;
$text-color: black;
$secondary-color: #031f5b;

.container{
    height: 100%;
    width: 100%;
    padding: 0px;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    
}

/*
.titleContent1 {
    color: white;
    font-size: 10vmin;
    font-weight: bold;
}

.titleContent2 {
    color: black;
    font-size: 10vmin;
    font-weight: bold;
}

.titleContent3 {
    color: $main-color;
    font-size: 10vmin;
    font-weight: bold;
}

.textContent1 {
    color: white;
    font-size: 6vmin;
}

.textContent2 {
    color: black;
    font-size: 6vmin;
}

.backgroundColor1 {
    background-color: #3a3a3a;
}

.backgroundColor2 {
    background-color: #ddda2a;
}
*/
