$main-color: #ffffff;
$text-color: black;
$secondary-color: #031f5b;

.container{
    height: 100%;
    width: 100%;
    padding: 0px;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.fontImg{

}